<div class="ml-16 mt-16">
  <!-- Header Title -->
  <h1 class="text-blue-600 duration-300 text-6xl font-extrabold">
    Mercury<mark class="text-slate-950 bg-transparent">.catalog</mark>
  </h1>
  <div class="ml-4">
    <!-- Header paragraph -->
    <p class="my-4 mt-7 w-[55rem]">
      Mercury is an ultra-fast course catalog for the University of Toronto. It
      was built with Angular, Tailwind, Redis, MongoDB, and Elasticsearch! Try
      words, phrases, subjects, course codes, etc. You can also search for exact
      textual phrases (like "<a
        class="text-blue-600 hover:underline cursor-pointer bg-transparent"
        (click)="query('engineering'); search.value = 'engineering'"
        >engineering</a
      >") or filter by specific attributes such as
      <a
        class="text-blue-600 hover:underline cursor-pointer bg-transparent"
        (click)="query('@code:cs'); search.value = '@code:cs'"
        >@code:cs</a
      >
    </p>

    <!-- Google Button and Search Bar -->
    <div class="flex">
      <asl-google-signin-button 
        type="standard" 
        size="large" 
        class="mr-1 px-3 mt-3.5"
      >
      </asl-google-signin-button>
      <input
        #search
        (keyup)="query(search.value)"
        placeholder="Search"
        class="my-3 bg-gray-50 pt-2 pb-2 pl-3 pr-72 border-l-0 border-r-0 border-t-0 border-b-2 outline-none rounded-sm focus:border-b-slate-950 ease-in-out"
      />
    </div>

    <!-- Show the app settings if the user is signed in hasn't searched anything yet -->
    <div *ngIf="isLoggedIn && search.value.length == 0">
      <div *ngFor="let course of bookmarks.list; let index = index">
        <div class="flex cursor-pointer">
          <p class="bg-slate-950 text-white font-bold text-2xl mt-2 ml-3 w-12 h-12 text-center p-2 flex items-center justify-center"
            (click)="bookmarks.delete(user.id, course)"
          >
            X
          </p>
          <p class="hover:bg-gray-200 bg-gray-50 p-3 m-2 w-[41rem]" (click)="query(course.name)">{{course.name}}: {{course.title}} ({{course.id}})</p>
        </div>
      </div>
    </div>

    <!-- Results Count -->
    <p *ngIf="search.value != undefined && search.value.length > 0" class="text-gray-400">
      {{ resultCount }} results for {{ search.value }} in {{ time }}ms
    </p>

    <!-- Course List -->
    <cdk-virtual-scroll-viewport class="virtual_list" style="height: 600px; margin-top: 1rem" itemSize="10">
      <ng-container *cdkVirtualFor="let course of courses">
        <div class="my-8 w-[55rem] hover:bg-gray-100 cursor-pointer" (click)="bookmarks.insert(user.id, course)">
          <p><strong>{{ course.title }}: {{ course.name }}</strong></p>
        
          <!-- Course Description -->
          <p style="font-size: 14.5px">{{ course.description }}</p>
          <p style="font-size: 13px; margin-top: 1px"><strong>Pre Requisites </strong>{{ course.pre_requisites }}</p>
          <p *ngIf="course.anti_requisites != undefined" style="font-size: 13px"><strong>Anti Requisites </strong>{{ course.anti_requisites }}</p>
          <a style="font-size: 12px" href="" target="_blank" rel="noreferrer noopener">
            Official Website
            {{ emptySpace(4) }} Components {{ course.components }}
            {{ emptySpace(4) }} Unit {{ course.unit }} {{ emptySpace(4) }} ID
            {{ course.id }}
          </a>
        </div>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
