
<!-- Side menu where the user can enter their name, age, and birthday-->
<div class="side-menu" style="margin: 0 auto;">
  <h1>Search Settings</h1>

  <!-- Timespan for the search results -->
  <h3 style="margin: 0 auto;">Timespan</h3>
  <input #timespan (keyup)="0" placeholder="ex: 2019-2023">
  <br><br>

  <!-- Exclude a website from your search -->
  <h3 style="margin: 0 auto;">Exclude Website</h3>
  <input #excludeWebsite (keyup)="0" placeholder="ex: https://example.org/">
  <ul style="list-style: none; margin-top: 15px;">
    <li>None <button (click)="0">Delete</button></li>
  </ul>
  <br><br>

  <!-- Exlude a word from your search -->
  <h3 style="margin: 0 auto;">Exclude Word</h3>
  <input #excludeWord (keyup)="0" placeholder="ex: nachos">
  <ul style="list-style: none; margin-top: 15px;">
    <li>None&nbsp;<button (click)="0">Delete</button></li>
  </ul>
  <br><br>

  <!-- Update the settings button -->
  <button (click)="onSubmit(timespan.value, excludeWebsite.value, excludeWord.value)">Update Settings</button>
</div>
