<div class="ml-16 mt-16">
  <!-- Header Title -->
  <h1 class="text-blue-600 duration-300 text-6xl font-extrabold">
    Mercury<mark class="text-slate-950 bg-transparent">.catalog</mark>
  </h1>
  <div class="ml-4">
    <!-- Header paragraph -->
    <p class="my-4 mt-7 w-[55rem]">
      Mercury is an ultra-fast course catalog for the University of Toronto. It
      was built with Angular, Tailwind, Redis, MongoDB, and Elasticsearch! Try
      words, phrases, subjects, course codes, etc. You can also search for exact
      textual phrases (like "<a
        class="text-blue-600 hover:underline cursor-pointer bg-transparent"
        (click)="query('engineering'); search.value = 'engineering'"
        >engineering</a
      >") or filter by specific attributes such as
      <a
        class="text-blue-600 hover:underline cursor-pointer bg-transparent"
        (click)="query('@code:cs'); search.value = '@code:cs'"
        >@code:cs</a
      >
    </p>

    <!-- Settings Button and Search Bar -->
    <div class="flex">
      <button
        class="rounded-md bg-slate-950 mr-3 px-3 text-white h-[2.6rem] mt-3 active:bg-blue-600 font-normal hover:bg-slate-900 hover:rounded-lg duration-300 ease-in-out"
        (click)="loadSettings()"
      >
        Settings
      </button>
      <input
        #search
        (keyup)="query(search.value)"
        placeholder="Search"
        class="my-3 bg-gray-50 pt-2 pb-2 pl-3 pr-72 border-l-0 border-r-0 border-t-0 border-b-2 outline-none rounded-sm focus:border-b-slate-950 ease-in-out"
      />
    </div>

    <!-- Show the app settings if the user is signed in and clicked the settings button -->
    <app-settings *ngIf="isSignedIn && showSettings"></app-settings>

    <!-- Results Count -->
    <p *ngIf="search.value != undefined && search.value.length > 0" class="text-gray-400">
      {{ resultCount }} results for {{ search.value }} in {{ time }}ms
    </p>

    <!-- Course List -->
    <cdk-virtual-scroll-viewport class="virtual_list" style="height: 600px; margin-top: 1rem" itemSize="10">
      <ng-container *cdkVirtualFor="let course of courses">
        <app-course [course]="course"></app-course>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
